.button {
  outline: none;
  border: none;
  margin-top: 40px;
  width: 100px;
  padding: 10px;
  border-radius: 25px;
  text-transform: capitalize;
  color: rgb(4, 15, 132);
  cursor: pointer;
  background-color: rgba(214, 236, 75, 0.748);
}

.button:hover,
.button:focus {
  box-shadow: 8px 26px 65px 34px rgba(42, 179, 147, 0.75);
  -webkit-box-shadow: 8px 26px 65px 34px rgba(42, 179, 147, 0.75);
  transform: scale(1.04);
  -moz-box-shadow: 8px 26px 65px 34px rgba(42, 179, 147, 0.75);
}

.button:not(:last-child) {
  margin-right: 20px;
}
